<footer class="footer" role="contentinfo">
  <div class="footer-logo">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo image">
  </div>
  <div class="footer-links">
    <ul>
      <li><h3>Связаться</h3></li>
    </ul>
    <ul>
      <li><h3>Будь в курсе</h3></li>
    </ul>
    <ul>
      <li><h3>О нас</h3></li>
    </ul>
  </div>
</footer>
